.program-price {
	// .program-price__top
	&__top {
		padding-top: 108px;
		margin-bottom: 54px;
		@media (max-width: 1200px) {
			text-align: center;
		}
		@media (max-width: 992px) {
			margin-bottom: 47px;
		}
		@media (max-width: 560px) {
			margin-bottom: 50px;
		}
	}
	&__title {
		display: block;
		font-family: 'SegoeUI-SB';
		font-size: 36px;
		line-height: 1.2;
		font-weight: 600;
		text-transform: uppercase;
		@media (max-width: 992px) {
			font-size: 32px;
			line-height: 1;
		}
		@media (max-width: 760px) {
			font-size: 24px;
		}
		@media (max-width: 560px) {
			font-size: 20px;
		}
	}
	&__subtitle {
		display: block;
		font-family: 'SegoeUI-SL';
		font-size: 36px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: none;
		margin-bottom: 41px;
		@media (max-width: 992px) {
			font-size: 32px;
			line-height: 1;
			max-width: 780px;
			margin: 0 auto 34px;
		}
		@media (max-width: 760px) {
			font-size: 24px;
			margin: 0 auto 29px;
		}
		@media (max-width: 560px) {
			font-size: 20px;
		}
	}
	&__desc {
		font-family: 'SegoeUI-SL';
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.01em;
		@media (max-width: 992px) {
			max-width: 780px;
			margin: 0 auto 34px;
		}
		span {
			font-family: 'SegoeUI';
			font-size: 18px;
			line-height: 24px;
			font-weight: 600;
			letter-spacing: 0.01em;
			color: #c74e1c;
		}
		> p {
			margin-bottom: 23px;
		}
	}

	// .program-price__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 33px;
		background-color: #f9f6ed;
		@media (max-width: 760px) {
			padding-bottom: 50px;
		}
		@media (max-width: 560px) {
			padding-bottom: 30px;
		}
	}
	&__bottom {
		background-color: #f9f6ed;
		padding-bottom: 100px;
		@media (max-width: 992px) {
			padding-bottom: 66px;
		}
	}
	// .program-price__item
	&__item {
		position: relative;
		flex: 0 0 33.333%;
		padding-bottom: 16.2%;
		overflow: hidden;
		transition: all 1.5s;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: inherit;
			z-index: 5;
			transition: all 2s;
		}
		@media (max-width: 1400px) {
			padding-bottom: 22%;
		}
		@media (max-width: 1200px) {
			flex: 0 1 50%;
		}
		@media (max-width: 992px) {
			padding-bottom: 24.5%;
		}
		@media (max-width: 760px) {
			padding-bottom: 31.5%;
		}
		@media (max-width: 560px) {
			flex: 0 1 100%;
			padding-bottom: 32.8%;
		}
		&:hover {
			&::before {
				background-color: rgba(0, 0, 0, 0.6);
			}
			.program-item__img {
				transform: scale(1.3);
			}
			.program-item__content {
				top: -100%;
			}
			.program-item__icons {
				top: 48%;
			}
		}
	}
	// .program-price__info
	&__info {
		background-color: #ffffff;
	}

	// .program-price__question
	&__question {
		border-top: 1px solid #c74e1c;
		border-bottom: 1px solid #c74e1c;
	}
}
.program-item {
	position: relative;
	&__content {
		position: absolute;
		top: 48%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #ffffff;
		z-index: 10;
		transition: all 2s;
	}
	// .program-item__title
	&__title {
		font-family: 'SegoeUI-SL';
		font-size: 40px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.005em;
		margin-bottom: 10px;
		@media (max-width: 992px) {
			font-size: 30px;
		}
		@media (max-width: 760px) {
			font-size: 25px;
		}
	}

	// .program-item__price
	&__price {
		display: block;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		@media (max-width: 760px) {
			font-size: 20px;
		}
	}
	// .program-item__icons
	&__icons {
		position: absolute;
		top: 130%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #ffffff;
		z-index: 10;
		transition: all 2s;
	}
	&__img {
		transition: all 2s;
	}
	.icons-program {
		z-index: 10;
		// .icons-program__link
		&__link {
			font-size: 20px;
			line-height: 11px;
			text-transform: uppercase;
			letter-spacing: 0.025em;
			color: #ffffff;
			@media (max-width: 760px) {
				font-size: 16px;
			}
		}

		// .icons-program__block
		&__block {
			position: absolute;
			top: -30px;
			right: 20px;
			width: 35px;
			height: 100px;
			@media (max-width: 560px) {
				top: -23px;
			}
		}
	}
	.block-program__link {
		display: block;
		width: 35px;
		height: 35px;
		&:first-child {
			opacity: 0.7;
			background-image: url('../images/icons/view.png');
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 20px;
			@media (max-width: 760px) {
				margin-bottom: 40px;
			}
			&:hover {
				opacity: 1;
			}
		}
		&:last-child {
			opacity: 0.7;
			background-image: url('../images/icons/compare.png');
			background-position: center;
			background-repeat: no-repeat;
			&:hover {
				opacity: 1;
				background-image: url('../images/icons/compare2.png');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		@media (max-width: 760px) {
			width: 25px;
			height: 25px;
		}
	}
}
.info-program-price {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 16px 43px;
	margin-bottom: 32px;
	@media (max-width: 1200px) {
		padding: 16px 0 20px;
		margin-bottom: 30px;
	}
	@media (max-width: 760px) {
		margin-bottom: 15px;
	}
	@media (max-width: 560px) {
		padding: 16px 5px 20px;
		display: block;
	}
	// .info-program-price__item
	&__item {
		position: relative;
		flex: 0 0 50%;
		@media (max-width: 1200px) {
			p,
			span {
				font-size: 16px;
			}
		}
		@media (max-width: 1200px) {
			&:first-child {
				padding: 12px 20px 0 0;
				@media (max-width: 760px) {
					padding: 0 20px 0 14px;
				}
				@media (max-width: 560px) {
					margin-bottom: 38px;
				}
			}
		}

		&:last-child {
			padding-left: 50px;
			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: 14px;
				width: 1px;
				height: 100%;
				background-color: #444444;
			}
			@media (max-width: 760px) {
				padding: 0 10px;
				&::after {
					left: -7px;
				}
			}
			@media (max-width: 560px) {
				flex: 0 1 100%;
				&::after {
					top: -16px;
					left: 0;
					width: 100%;
					height: 1px;
				}
			}
		}
		p {
			font-size: 17px;
			line-height: 24px;
			font-weight: 300;
		}
		span {
			font-size: 17px;
			line-height: 24px;
			font-weight: 600;
			color: #c74e1c;
		}
	}
	&__list {
		padding-left: 20px;
		list-style: initial;
	}
	&__time {
		font-size: 17px;
		line-height: 24px;
		font-weight: 300;
		@media (max-width: 1200px) {
			font-size: 16px;
		}
	}
}
.question-program-price {
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			font-size: 17px;
			line-height: 20px;
			font-weight: 600;
			padding: 25px 0;
			text-align: left;
			transition: all .5s;
			margin-right: 10px;
			@media (max-width: 1200px) {
				padding: 22px 0;
			}
			@media (max-width: 760px) {
				font-size: 16px;
				padding: 12px 0;
			}
		}
		.current {
			color: #c74e1c;
		}
	}
	&__close {
		display: block;
		width: 35px;
		height: 35px;
		background-image: url('../images/icons/plus.png');
		background-position: right;
		background-repeat: no-repeat;
		transition: all .5s;
	}
	.active {
		background-image: url('../images/icons/close.png');
		background-position: right;
		background-repeat: no-repeat;
	}
	// .question-program-price__items
	&__items {
		@include row-flex();
		justify-content: space-between;
	}
	&__body {
		display: none;
	}
	// .question-program-price__item
	&__item {
		@include col();
		@include size(4);
		@media (max-width: 1200px) {
			@include size(6);
		}
		@media (max-width: 560px) {
			@include size(12);
		}
	}
	&__link {
		display: inline-block;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		letter-spacing: 0.005em;
		color: #c74e1c;
		text-align: left;
		background-image: url('../images/icons/download2_8671.png');
		background-position: top 7px left;
		background-repeat: no-repeat;
		padding: 0 20px 15px;
	}
}
.price-item {
	display: flex;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 37px;
	@media (max-width: 760px) {
		flex-direction: column;
		justify-content: center;
	}
	// .price-item__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 97px;
		width: 97px;
		height: 97px;
		border-radius: 50%;
		background-color: #ffffff;
		margin-right: 23px;
		@media (max-width: 760px) {
			margin-bottom: 15px;
		}
		@media (max-width: 560px) {
			margin-right: 0;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	// .price-item__text
	&__text {
		font-family: 'SegoeUI-SL';
		font-size: 18px;
		line-height: 24px;
		color: #444444;
		text-align: left;
		padding-right: 25px;
		@media (max-width: 760px) {
			text-align: center;
		}
		@media (max-width: 560px) {
			padding-right: 0;
			font-size: 16px;
		}
	}
}
