.program-video {
	// .program-video__items
	&__items {
		display: flex;
		@media (max-width: 860px) {
			display: block;
		}
	}

	// .program-video__item
	&__item {
		flex: 0 0 50%;
		@media (max-width: 990px) {
			width: 100%;
		}
	}
}
.video-program {
	background-color: cadetblue;
	&__box {
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
		img,
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
			object-fit: cover;
			z-index: 10;
		}
	}
	&__btn {
		position: absolute;
		top: 49%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 89px;
		height: 89px;
		border-radius: 50%;
		border: 2px solid #c74e1c;
		z-index: 15;
		background-color: inherit;
		background-image: url('../images/icons/polygon_1_8678.png');
		background-position: 60% center;
		background-repeat: no-repeat;
	}
}

.content-program-video {
	background-image: linear-gradient(180.0deg, #4b77be 0%, #355d9c 70%);
	padding: 5.5% 0 0 136px;
	@media (max-width: 1400px) {
		padding: 5.6% 20px 0 80px;
	}
	@media (max-width: 1400px) {
		padding: 2.6% 20px 0 32px;
	}
	@media (max-width: 860px) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	@media (max-width: 760px) {
		display: block;
		text-align: center;
	}
	&__title {
		max-width: 320px;
		font-size: 36px;
		line-height: 1.2;
		font-weight: 600;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 5%;
		@media (max-width: 1400px) {
			font-size: 20px;
			max-width: 100%;
			margin-bottom: 4%;
		}
		@media (max-width: 992px) {
			font-size: 20px;
			margin-bottom: 5%;
		}
		@media (max-width: 860px) {
			background-color: #4571b6;
			text-align: center;
			margin: 0;
			padding: 20px 0;
		}
		@media (max-width: 560px) {
			font-size: 16px;
		}
	}
	&__subtitle {
		display: inline-block;
		font-family: 'SegoeUI-SL';
		font-size: 24px;
		line-height: 36px;
		font-weight: 300;
		text-transform: none;
		letter-spacing: 0.005em;
		color: #ffffff;
		margin-bottom: 4%;
		@media (max-width: 1400px) {
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 3%;
		}
		@media (max-width: 992px) {
			font-size: 16px;
		}
		@media (max-width: 860px) {
			max-width: 315px;
		}
		@media (max-width: 760px) {
			line-height: 20px;
			max-width: 100%;
		}
	}
	&__desc {
		opacity: 0.8;
		font-family: 'SegoeUI-SL';
		font-size: 16px;
		line-height: 19px;
		font-weight: 300;
		letter-spacing: 0.025em;
		color: #ffffff;
		margin-bottom: 6%;
		@media (max-width: 1400px) {
			font-size: 15px;
			letter-spacing: 0em;
			margin-bottom: 12%;
		}
		@media (max-width: 992px) {
			font-size: 15px;
			margin-bottom: 10%;
		}
		@media (max-width: 860px) {
			display: none;
		}
	}
	// .content-program-video__btn
	&__btn {
		display: inline-block;
		padding: 11px 25px 16px 17px;
		opacity: 0.8;
		font-size: 16px;
		line-height: 19px;
		font-weight: 300;
		color: #ffffff;
		background-image: linear-gradient(0.0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.0) 51%);
		border: 1px solid #ffffff;
		border-radius: 3px;
		cursor: pointer;
		@media (min-width: 990px) {
			&:hover {
				background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.0) 51%);
			}
		}
		@media (max-width: 760px) {
			margin-bottom: 20px;
		}
		@media (max-width: 560px) {
			padding: 10px 25px 12px 17px;
		}
	}
}
